<h1>Items</h1>

<p><%= link_to "Новая запись", new_item_path %></p>

<% if @items.empty? %>
	<b>No items in store</b>
<% else %>
	<table>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Price</th>
			<th>Рейтинг</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>

		<% @items.each do |i| %>

			<tr>
				<td><%= i.id %></td>
				<td><%= link_to i.name, item_path(i) %></td>
				<td><%= i.price %> руб.</td>
				<td><%= i.votes_count %></td>
				<td><%= link_to "+", upvote_item_path(i) %></td>
				<td><%= link_to "Редактировать", edit_item_path(i) %></td>
				<td><%= link_to "Удалить", item_path(i), method: :delete, data: { confirm: "Точно удалить?" } %></td>
			</tr>

		<% end %>

	</table>

<% end %>



